@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Teko:wght@300;400;500;600&display=swap');

.elimframe10{
    height: 1080px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.teamstats{
    margin-right: 90px;
}
.logoframe5 {
    background-color: #003557;
    border: 6px solid;
    border-color: #0182d5;
    box-shadow: inset 0px 0px 25px -4px #000000ed;
    height: 70px;
    width: 70px;
    position: relative;
    left: 0px;
    top: -75px;
    transform: rotate(-45deg);
    overflow: hidden;
}
.topteamlogo{
    height: 60px;
    width: 60px;
    object-fit: cover;
    position: absolute;
    transform: rotate(45deg);
    top: 6px;  
    left: 6px;
     
}

.group12{
    height: 28px;
    width: 281px;
    background-color: #0182d5;
    font-size: 23px;
    font-family: Teko;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
}

.design11{
    height: 35px;
    width: 46px;
    background-color: #0182d5;
    position: relative;
    left: 264px;
    top: -114px ;
    clip-path: polygon(80.5% 0%, 100% 0%, 20.5% 100%, 0% 100%);
    opacity: 0.7;
}

.alive{
    position: relative;
   
    top: 0px;
    height: 36px;
    width: 298px;
    background-color: #003557;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(13.5% 0%, 100% 0%, 86.5% 100%, 0% 100%);
}


.wwcd{
    position: relative;
    
}
.percentage{
    position: relative;
    left: 55px;
    
}

.player1{
    width: 15px;
    height: 25px;
    background-color: white;
    margin-left: 15px;
    position: relative;
    left: 18px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.player1True {
    background-color: rgb(255, 0, 0);
  }
  
  .player1False {
    background-color: rgb(255, 255, 255)
  }
  .allPlayersTrue1 {
   
    opacity: 0.0; 
  }
  
